* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    list-style-type: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #fff;
    color: #000;
}

/* Header */

.header {
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 70px;
}

.nav_menu{
    display: none;
}

.listItem{
    margin-right: 30px;
}

.listItem:last-child{
    margin-right: 0;
}

.listItem a{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
}

.box_icon{
    cursor: pointer;
}

.box_icon .fa-solid{
    color: #fff;
    font-size: 18px;
}

/* Main */



/* Media Query */

@media only screen and (min-width: 768px) {
    .nav_menu{
        display: flex;
    }

    .container_menu_mobile{
        display: none;
    }
}