/* debug */
.debug{
    border: 1px solid red;
}

/* bg color */
.bg-white{
    background-color: #fff;
}

.bg-black{
    background-color: #000;
}

.bg-grey{
    background-color: #aaa;
}

.bg-lightGrey{
    background-color: #F5F5F5;
}

.bg-blue{
    background-color: #0084FD;
}

.bg-lightBlue{
    background-color: #B5DDFF;
}

.bg-violet{
    background-color: #9792E4;
}

/* color */
.color-white{
    color: #fff;
}

.color-black{
    color: #000;
}

.color-grey{
    color: #aaa;
}

.color-violet{
    color: #9792E4;
}

.color-yellow{
    color: #FDC15F;
}

/* Text */
.t-left{
    text-align: left;
}

.t-center{
    text-align: center;
}

.t-right{
    text-align: right;
}

/* position */
.d-flex{
    display: flex;
}

.a-start{
    align-items: flex-start;
}

.a-center{
    align-items: center;
}

.a-end{
    align-items: flex-end;
}

.j-start{
    justify-content: flex-start;
}

.j-center{
    justify-content: center;
}

.j-end{
    justify-content: flex-end;
}

.j-between{
    justify-content: space-between;
}

.d-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* margin */
.margin-80{
    width: 80%;
    margin: 0 auto;
}

.margin-60{
    width: 60%;
    margin: 0 auto;
}

.w-100{
    width: 100%;
}

/* Button */

.btn{
    border-radius: 30px;
    cursor: pointer;
    transition: opacity 200ms ease;
}

.btn_small{
    padding: 5px 15px;
}

.btn_large{
    padding: 10px 35px;
    font-size: 17px;
    font-weight: 500;
}

.btn_superLarge{
    padding: 15px 45px;
    font-size: 20px;
    font-weight: 500;
}

.btn:hover{
    opacity: .7;
}

.btn_white{
    background-color: #fff;
}

.btn_white a{
    color: #000;
}

.btn_blue{
    background-color: #0084FD;
    color: #fff;
}