/* debug */
.debug{
    border: 1px solid red;
}

/* bg color */
.bg-white{
    background-color: #fff;
}

.bg-black{
    background-color: #000;
}

.bg-grey{
    background-color: #aaa;
}

.bg-lightGrey{
    background-color: #F5F5F5;
}

.bg-blue{
    background-color: #0084FD;
}

.bg-lightBlue{
    background-color: #B5DDFF;
}

/* color */
.color-white{
    color: #fff;
}

.color-black{
    color: #000;
}

.color-grey{
    color: #aaa;
}

/* position */
.d-flex{
    display: flex;
}

.a-start{
    align-items: flex-start;
}

.a-center{
    align-items: center;
}

.a-end{
    align-items: flex-end;
}

.j-start{
    justify-content: flex-start;
}

.j-center{
    justify-content: center;
}

.j-end{
    justify-content: flex-end;
}

.j-between{
    justify-content: space-between;
}

.d-column{
    flex-direction: column;
}

.flex-wrap{
    flex-wrap: wrap;
}

/* margin */
.margin-80{
    width: 80%;
    margin: 0 auto;
}